[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
aiohttp = "*"
pandas = "*"
certifi = "*"
python-dateutil = "*"
sqlalchemy = "*"
"psycopg2" = "*"
greenlet = "==0.4.13"
grequests = "*"

[dev-packages]
bpython = "*"

[requires]
python_version = "3.7"
